.ColorMatchingGame {
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.Button {
    background: #961b3a;
    padding: 0.3rem 2rem;
    color: white;
    border: 1px solid #692738;
    margin: 0.5rem 0;
    border-radius: 5px;
    cursor: pointer;
}